asgiref==3.11.1
attrs==26.1.0
certifi==2026.5.20
charset-normalizer==3.4.7
dj-database-url==3.1.2
Django==6.0.5
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
gunicorn==26.1.0
idna==3.15
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
pillow==12.3.0
psycopg2==2.9.12
PyJWT==2.12.1
python-decouple==3.8
python-dotenv==1.2.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
rpds-py==0.30.0
sqlparse==0.5.5
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.7.0
whitenoise==6.12.0
